.student {
	display: flex;
	flex-direction: row;
	cursor: pointer;
	margin: 30px;
	margin-bottom: 20px;
	text-align: center;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	background-color: beige;
	border-radius: 10px;
	transition: box-shadow 1s;
	transition: background-color 1s;
}

.student:hover {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.37),
		0 6px 20px 0 rgba(0, 0, 0, 0.19);
	background-color: rgb(196, 196, 178);
}

.tagged {
	padding-left: 10px;
	padding-right: 10px;
	background-color: aquamarine;
}
