.navbar-container {
	display: grid;
	grid-template-columns: auto auto auto;
	background-color: aqua;
}

.nav-header {
	grid-column-start: 1;
	grid-column-end: 3;
}

.nav-link {
	display: flex;
	justify-content: right;
}

#btn {
	background-color: aqua;
	color: black;
}
